<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnjayInterviewApp"
        tools:targetApi="31">
        <activity
            android:name="Home.Technical.Web_technical"
            android:exported="false"
            />
        <activity
            android:name="Home.Technical.Ios_technical"
            android:exported="false"
            />
        <activity
            android:name="Home.Technical.Android_technical"
            android:exported="false"
            >
        </activity>
        <activity
            android:name=".PythonQuizResult"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Result.JavaQuizResult"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JavaResult"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="AboutUS.AboutUS"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="credentials.Update_Firebase"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="QuizQuestion.CplusQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="QuizQuestion.CQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="QuizQuestion.KotlinQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="QuizQuestion.PhpQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="QuizQuestion.PythonQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Result.Result_Activity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="QuizQuestion.JavaQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Quiz.CQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Quiz.CplusQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Quiz.KotlinQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Quiz.PhpQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Quiz.PythonQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Quiz.JavaQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Home.TechnicalQuestion"
            android:exported="false"
            >
        </activity>
        <activity
            android:name="Home.LogicalQuestion"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="Home.CommonQuestion"
            android:exported="false"
            />
        <activity
            android:name="Home.AptitudeQuestion"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="credentials.Register_page"
            android:exported="false"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            tools:ignore="MissingClass" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="credentials.login"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name="credentials.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>